.App{
  display: flex;
  align-items: flex-start;
}
.add-post-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #f0f0f0;
  padding: 1rem;
  margin: 1rem;
  position: static;
}
.edit-post-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.45);
  z-index: 100;
}
.edit-post-modal{
  position: absolute;
  z-index: 100;
  background: white;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  border-radius: 0.25rem;
}
.edit-post-modal-heading{
  display: flex;
  align-items: center;
}
.edit-post-modal-heading h3{
  flex: 1 1 auto;
}
.edit-post-form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.edit-post-form label{
  margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}
.post-list-item{
  border: 1px solid #f0f0f0;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.post-actions{
  margin-left: auto;
}